### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players
player_hop = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_hop = player_hop.drop_duplicates()
players = player_demo.count()[0]
pd.DataFrame({"total players":[players]})

In [27]:
player_hop = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_hop = player_hop.drop_duplicates()
players = player_hop.count()[0]
pd.DataFrame({"total players":[players]})

   total players
0            576

In [28]:
## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
item_id = len(purchase_data["Item ID"].unique())
print(item_id)
avg_pur_price = purchase_data["Price"].mean()
print(avg_pur_price)
Total_num_of_purchases = purchase_data["Price"].count()
print(Total_num_of_purchases)
Total_revenue = purchase_data["Price"].sum()
print(Total_revenue)

summary_table = pd.DataFrame({"Number of Unique Items": item_id,
                             "Total Revenue": [Total_revenue],
                             "Number of Purchases": [Total_num_of_purchases],
                             "Average Price": [avg_pur_price]})

# Minor Data Munging
summary_table = summary_table.round(2)
summary_table ["Average Price"] = summary_table["Average Price"].map("${:,.2f}".format)
summary_table ["Number of Purchases"] = summary_table["Number of Purchases"].map("{:,}".format)
summary_table ["Total Revenue"] = summary_table["Total Revenue"].map("${:,.2f}".format)
summary_table = summary_table.loc[:,["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

# Display the summary_table
summary_table

183
3.050987179487176
780
2379.77

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [30]:
total_genders = player_hop["Gender"].value_counts()
percent_genders = total_genders/players*100
gender_table = pd.DataFrame({"Total count":total_genders,"Percent Gender":percent_genders})
gender_table = gender_table.round(2)
gender_table

                       Total count  Percent Gender
Male                           484           84.03
Female                          81           14.06
Other / Non-Disclosed           11            1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
gender_count = purchase_data.groupby(["Gender"]).count()["Price"].rename("Total purchase value")
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"].rename("Total purchase value")
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total purchase value")
average_purchase_price_player = gender_purchase_total/total_genders
gender_table = pd.DataFrame({"Total Purchase Value":gender_count,"Average Purchase Price":gender_average,"Purchase Count":gender_purchase_total,"Averge total purchase per person":average_purchase_price_player})
gender_table = gender_table.round(2)
gender_table

,Total Purchase Value,Average Purchase Price,Purchase Count,Averge total purchase per person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
bins = [10,14,19,23,27,31,35,39,40]
bin_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins,labels = bin_names)
purchase_data = purchase_data.drop_duplicates("SN")
purchase_data1 = purchase_data.groupby("Age Group")
Age_count = purchase_data1["Age"].count()

percent_age = (Age_count/players) * 100
Age_count
percent_age

df_age = pd.DataFrame({"Number of Players": Age_count,
                       "Percentage Players": percent_age})
df_age

           Number of Players  Percentage Players
Age Group
<10                       15            2.604167
10-14                    107           18.576389
15-19                    210           36.458333
20-24                    111           19.270833
25-29                     44            7.638889
30-34                     32            5.555556
35-39                     21            3.645833
>40                        5            0.868056

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
Max = purchase_data["Age"].max()
print(Max)
Min = purchase_data["Age"].min()
print(Min)
count=purchase_data["Age"].count()
print(count)
bin_size = Max-Min/10
print(bin_size)

45
7
576
44.3

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
purchase_data = pd.read_csv(file_to_load)
df1 = purchase_data.groupby("SN").agg({"Price":["sum","mean"],"Item ID":"count"})#.sort_values("Item ID",ascending = False)
df1.columns = ['_'.join(tup).rstrip('_') for tup in df1.columns.values]
df1.columns=['Average Purchase Price','Total Purchase Value','Price Count']
df1
df1.sort_values("Price Count",ascending = False).head(5)

             Average Purchase Price  Total Purchase Value  Price Count
SN
Lisosia93                     18.96              3.792000            5
Iral74                        13.62              3.405000            4
Idastidru52                   15.45              3.862500            4
Asur53                         7.44              2.480000            3
Inguron55                     11.11              3.703333            3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
def get_first_value(x):
   return(x.tolist()[0])
purchase_data = pd.read_csv(file_to_load)
df1 = purchase_data.groupby("Item ID").agg({"Item Name":get_first_value, "Item ID":"count","Price": ["mean","sum"]})#.sort_values("Item ID",ascending = False)
df1.columns = ['_'.join(tup).rstrip('_') for tup in df1.columns.values]
df1.columns=['Item Name','Purchase Count','Item Price','Total Purchase Value']
df1
df1.sort_values("Purchase Count",ascending = False).head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
def get_first_value(x):
   return(x.tolist()[0])
purchase_data = pd.read_csv(file_to_load)
df1 = purchase_data.groupby("Item ID").agg({"Item Name":get_first_value, "Item ID":"count","Price":["mean","sum"]})#.sort_values("Item ID",ascending = False)
df1.columns = ['_'.join(tup).rstrip('_') for tup in df1.columns.values]
df1.columns=['Item Name','Purchase Count','Item Price','Total Purchase Value']
df1.columns
df1.sort_values("Purchase Count",ascending = False).head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16